<?xml version="1.0"?>
<model>
    <name>ArUco Marker $marker_id</name>
    <version>1.0</version>
    <sdf version="1.5">marker_$marker_id.sdf</sdf>
    <author>
        <name>Marker Generator script</name>
        <email>marker@generator.sh</email>
    </author>
    <description>
        ArUco marker #$marker_id
    </description>
</model>